.weather {
  position: fixed;
  right: 0;
  bottom: 25px;
  padding: 10px;

  width: 370px;
  height: 85px;

  font-family: Verdana;
  font-size: 18px;
  background-color: rgba(109, 109, 109, 0.75);
  color: white;

  border-radius: 15px 0 0 0;
}
